body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #a9c9ec;
}

.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 700px;
  background-color: #fff;
  border-radius: 7px;
  margin: 8px;
  padding: 10px;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input, textarea{
  border-radius: 5px;
  width: 500px;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
}
label{
  color: #74125e;
  font-weight: 700;
}
.dolado{
  display: inline-block;
}

button{
  height: 40px;
  border-radius: 5px;
  color: #fff;
  background-color: #b673dd;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  transition: all 0.5s;
  text-decoration: none;
  margin: 20px;
}

button:hover{
  background-color: #74125e;
}

hr{
  width: 100%;
  border-top: 1px dashed rgb(160, 55, 192);
}